@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap');

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* change spacing between the title and subtitle */
.cover-main > h2 {
  margin-top: 0;
}

#statistics-graduate-student-association {
  margin-bottom: 0;
}

/* Small screen main cover, don't make it too small */
#coverlogo {
  min-width: 320px;
}

/* Fix short and wide screens */
section.cover {
  min-height: 800px;
}

/* small screens text gets pushed off with margin */
section.cover .cover-main {
  margin-left: 0px;
}

/* align logo to top of page */
.sidebar {
  padding-top: 0;
}

/* make logo in sidebar smaller */
.sidebar > h1 {
  width: 50%;
	margin-bottom: 0;
}

/* no aliasing for bottom edge of github tag in corner */
.github-corner svg {
  shape-rendering: crispedges;
}
.octo-body, .octo-arm {
	shape-rendering: auto;
}
